<?xml version='1.0' encoding='utf-8'?>
<widget id="crystal.tech.defeat_use" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Победи ЕГЭ 2016</name>
    <description>
        Пройдите двухнедельный курс подготовки!
        Приложение охватывает 18 тем по математике (задания №1-17 и №19). 
        Также в приложении вы найдете:
        - видеоурок по каждому заданию с разбором основных приемов решения задач;
        - полную теорию для каждого задания;
        - режим тренировки: самостоятельное решение задач с возможностью проверки ответа;
        - реальные задания ЕГЭ: большинство задач взяты из открытого банка заданий ФИПИ;
        - задания нового образца: весь материал подбирался на основе самых новых КИМов 2015 года, также включена экономическая задача (№19).

        Еще больше информации смотри в видео-приветствии на первой страничке приложения. Готовься к ЕГЭ вместе с нами и ты победишь ЕГЭ!
    </description>
    <author email="crystaltechapps@gmail.com" href="https://play.google.com/store/apps/developer?id=CrystalTech">
        CrystalTech
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <feature name="http://api.phonegap.com/1.0/network"/>
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="11" />
    <preference name="android-installLocation" value="auto" />
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <gap:plugin name="com.smartmobilesoftware.inappbilling">
        <param name="BILLING_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAoR4C8RVtUq4mcnfiC7KBxAb3aDvZEoriVr8UYSq8Qz7ApkSXX+/0wGX8MSLl7IZiACZIP7UNGYHxR+ac6Ti/Osm0QqzSPCE5c9kaTotlfMlJdGsHU114hf+50pbCi48cYGmuRBGxs483bKzFJTUQpyoNwZrSW7HL7a+DTB5u4tymkCwxYLUoQ+493DyQ3qW2W1bUjnCyiwGqlVnZFdMxCXRJrC+Iox8LSs784r/OBAg2InNZRywt3/YSsthJmEaK3QDV6USYWHEMBCeqXpLa6ZCjJ5NjmhVLGykT646B5g/SkfxunQYCC7lEjTp9QM0LIjBsYsD4myZOTd4fzis9OQIDAQAB" />
    </gap:plugin>
    <icon src="www/icon.png" />
    <platform name="android">
              <icon src="www/res/icon/android/icon-48-mdpi.png" density="mdpi" />
              <icon src="www/res/icon/android/icon-72-hdpi.png" density="hdpi" />
              <icon src="www/res/icon/android/icon-96-xhdpi.png" density="xhdpi" />
              <icon src="www/res/icon/android/icon-144-xxhdpi.png" density="xxhdpi" />
              <icon src="www/res/icon/android/icon-192-xxxhdpi.png" density="xxxhdpi" />
     </platform>
     <platform name="ios">
        <!-- images are determined by width and height. The following are supported -->
        <splash src="www/res/screen/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="www/res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="www/res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="www/res/screen/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="www/res/screen/ios/Default-736h.png" width="1242" height="2208"/>
        <splash src="www/res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
    </platform>
    <preference name="SplashScreenDelay" value="10000" />
    <access origin="*" />
    <feature name="http://api.phonegap.com/1.0/network"/>
</widget>
