* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform:uppercase;
    /*background-color: #FF0000;*/
}

.toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    padding: 0px;
    margin: 0px;
    background-color: #ffec64;
    z-index: 1;
}

img.back {
    position: absolute;
    top: 19%;
    left: 15px;
    width: auto;
    height: 62%;
}
img.back:active {
    /*background-color:#ffab23;*/
    /*border-radius: 200px;*/
    opacity: .5;
}

/* toolbar */
.title {
    /*background-color: #00FFFF;*/
    position: absolute;
    font-size: 180%;
    font-weight: bold;
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    transform: translate(-50%, -50%);
}

/* ios */
.title {
    top: 60%;
    font-size: 150%;
}
img.back {
    top: 40%;
    height: 46%;
}

.content {
    /*background-color: #FFAAFF;*/
    width: 100%;
    padding: 0px;
    margin: 0px;
    min-height: 90%;
}

.toolbar_space {
    width: 100%;
    height: 10%;
    padding: 0px;
    margin: 0px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .toolbar {
        height: 15%;
    }
    .toolbar_space {
        height: 15%;
    }
}